.button {
	padding: 8px 16px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 500;

	&.button-big {
		padding: 16px 24px;
	}

	&.button-primary {
		background-color: var(--color-primary);
		color: white;
		border: 1px solid var(--color-primary);
	}
}
