@import './colors';
@import './grid_column_rows';
@import './flexbox';
@import './sizing';
@import './spacing';
@import './layout';

$responsive-classes-maps: (
  // _colors.scss
  ($colors-classes-map),
  ($colors-background-classes-map),

  // _grid_columns_rows.scss
  ($grid-columns-rows-classes-map),

  // _flexbox.scss
  ($flexbox-classes-map),

  // _sizing.scss
  ($sizing-classes-map),

  // _spacing.scss
	($spacing-classes-map),

	// _layout.scss
  ($layout-classes-map),

  // _typography.scss
	($typography-classes-map),
);

// small/mobile (sm) class variants AND the default classes (mobile first!)
@each $classes-map in $responsive-classes-maps {
  @each $class-name, $attributes-map in $classes-map {
    .#{$class-name},
    .sm\:#{$class-name} {
      @each $key, $value in $attributes-map {
        #{inspect($key)}: #{inspect($value)};
      }
    }
  }
}

// medium/tablet (md) class variants
@include above-media(breakpoint-md) {
  @each $classes-map in $responsive-classes-maps {
    @each $class-name, $attributes-map in $classes-map {
      .md\:#{$class-name} {
        @each $key, $value in $attributes-map {
          #{inspect($key)}: #{inspect($value)};
        }
      }
    }
  }
}

// large/desktop (lg) class variants
@include above-media(breakpoint-lg) {
  @each $classes-map in $responsive-classes-maps {
    @each $class-name, $attributes-map in $classes-map {
      .lg\:#{$class-name} {
        @each $key, $value in $attributes-map {
          #{inspect($key)}: #{inspect($value)};
        }
      }
    }
  }
}
