@import 'reset.scss';

@import 'steller-theme';
@import '~steller-css/index';

/**
 * -------------------------------
 * Base
 * -------------------------------
 */
@import 'base/backgrounds';
@import 'base/hover';
@import 'base/links';

/**
 * -------------------------------
 * Components
 * -------------------------------
 */
@import 'components/button';

/**
 * -------------------------------
 * Layouts
 * -------------------------------
 */
 @import 'layouts/default.scss';

/**
 * -------------------------------
 * Pages
 * -------------------------------
 */
@import 'pages/index-page.scss';
