@import 'reset.scss';

/**
 * -------------------------------
 * Base
 * -------------------------------
 */
@import 'base/breakpoints';
@import 'base/grid';
@import 'base/colors';
@import 'base/typography';
@import 'base/borders';
@import 'base/container';
@import 'base/effects';
@import 'base/flexbox';
@import 'base/motion';
@import 'base/sizing';
@import 'base/spacing';
@import 'base/layout';
@import 'base/hover';
@import 'base/animations';
@import 'base/backgrounds';
@import 'base/responsive';
@import 'base/defaults';

/**
 * -------------------------------
 * Components
 * -------------------------------
 */
@import 'components/button';

/**
 * -------------------------------
 * Layouts
 * -------------------------------
 */
 @import 'layouts/default.scss';

/**
 * -------------------------------
 * Pages
 * -------------------------------
 */
@import 'pages/index-page.scss';

